:root {
  --color-white: rgba(255, 255, 255, 0.5);
}

body {
  background: url(/photos/sakura_background.webp);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  border: 1px solid red;
}

.container {
  position: relative;
  text-align: center;
  background-color: var(--color-white);
  margin: 50px 100px 50px 100px;
  padding: 40px;
  border: 1px solid blue;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}

#title {
  font-weight: bold;
  font-family: fantasy;
}

#description {
  font-style: italic;
}

.form-element {
  text-align: left;
  margin-top: 20px;
}

#number {
  width: 70px;
}

.form-element textarea {
  min-height: 100px;
  width: 100%;
  resize: none;
  overflow-y: scroll;
}

#checkbox div {
  text-align: left;
  padding-bottom: 10px;
}

#submit-btn {
  text-align: center;
}

#submit {
  position: relative;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
  border-style: outset;
  border: outset 4px rgb(143, 135, 135);
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
}
